.container {
  display: flex;
}

/* 1. exercice-1 */
 .exercice-1 .container {
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
 }

/* 2. exercice-2 */
.exercice-2 .container {
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
}

/* 3. exercice-3 */
.exercice-3 .container {
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.exercice-3 .element-blue {
  order: -1;
  align-self: flex-start;
}

/* 4. exercice-4 */
.exercice-4 .container {
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.exercice-4 .element-pink {
  order: 1;
  align-self: flex-start;
}

.exercice-4 .element-blue {
  order: 2;
}

/* 5. exercice-5 */
.exercice-5 .container {
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
  flex-direction: row;
}
/* 6. exercice-6 */
.exercice-6 .container {
  flex-wrap: wrap-reverse;
  align-content: space-between;
  flex-direction: row;
}

.exercice-6 .element {
  flex-grow: 1;
}

/* 7. exercice-7 */
.exercice-7 .container {
  flex-flow: column-reverse wrap-reverse;
  align-content: center;
  justify-content: space-between;
}

/* 8. exercice-8 */

/* 9. exercice-9 */
.exercice-9 .container {
  flex-wrap: wrap;
  flex-direction: row;
  align-items: baseline;
}

.exercice-9 .element {
  box-sizing: border-box;
  width: 50%;
}

/* 10. exercice-10 */
.exercice-10 .container {
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
}
